<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon> -->
    <ion-title>
      Home
    </ion-title>
    <ion-text slot="end" >
      <p>{{'Anónimo'}}</p>
    </ion-text>
    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center">
    <h1>Bienvenido</h1>
  </ion-text>

  <ion-item (click)="addDireccion()">
    
    <ion-label>Ubicacion</ion-label>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

</ion-content>
