<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon> -->
    <ion-title>
      Home
    </ion-title>
    <ion-text slot="end" >
      <p>{{username || 'Anónimo'}}</p>
    </ion-text>
    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center">
    <h1>Bienvenido</h1>
  </ion-text>


  <ion-list>

    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-select placeholder="Nivel Educacional">
         <ion-select-option value="Basica">Basica</ion-select-option>
         <ion-select-option value="Media">Media</ion-select-option>
         <ion-select-option value="Universitaria">Universitaria</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-button color="primary">Limpiar</ion-button>
    <ion-button color="secondary">Mostrar</ion-button>

    <ion-item>
      <ion-label>Fecha Nacimiento</ion-label>
      <ion-datetime
       display-format="DD MM YYYY"></ion-datetime>
    </ion-item>
  </ion-list>
  


</ion-content>
