<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon> -->
    <ion-title>
      Agregar alumno
    </ion-title>
    <ion-text slot="end" >
      <p>{{username || 'Anónimo'}}</p>
    </ion-text>
    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center">
    <h1>Bienvenido</h1>
  </ion-text>




  
  <ion-list>

    <ion-item>
      <ion-label stacked>nombre</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="newUser.nombre" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Apellido</ion-label>
      <ion-input type="text" name="apellido" [(ngModel)]="newUser.apellido" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Domicilio</ion-label>
      <ion-input type="text" name="domicilio" [(ngModel)]="newUser.domicilio" clearInput></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Edad</ion-label>
      <ion-input type="text" name="edad" [(ngModel)]="newUser.edad" clearInput></ion-input>
    </ion-item>

    <ion-button color="primary" (click)="guardar()">Guardar</ion-button>
    <ion-button color="secondary">Mostrar</ion-button>
  </ion-list>




</ion-content>
