<ion-header>
  <ion-toolbar>
    <ion-title>
      historial
    </ion-title>

  <ion-buttons slot="end">
    <ion-button (click)="enviarCorreo()" shape="round" color="primary">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-buttons>

 </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="registros">

    <ion-item *ngFor="let registro of registros"
              (click)="abrirRegistros(registro)" 
              detail>

    <ion-icon slot="start" [name]="registro.icon"></ion-icon>
    <ion-label>
      <h2>{{registro.codigoClase}} {{registro.fechaClase }} {{registro.horaClase}}</h2>
      <p>{{registro.created | date}}</p>
    </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
